{%extends "admin_layout.html"%} <!--Inherited all nav features-->
{%block content%}
            {%if service%}
                <div class="center"><h3>Edit Service</h3></div>
                <form action="/edit_service/{{name}}/{{service.id}}" method="POST">
                <div class="input_form">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="name" value="{{service.name}}">
                    </div>
                    <div class="mb-3">
                        <label for="base_price" class="form-label">Base  Price</label>
                        <input type="text" class="form-control" name="base_price" id="base_price" value="{{service.base_price}}">
                    </div>
                    <div class="mb-3">
                        <label for="time_required" class="form-label">Time Required</label>
                        <input type="number" class="form-control" name="time_required" id="time_required" value="{{service.time_required}}">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">description</label>
                        <input type="text" class="form-control" name="description" id="description" value="{{service.description}}">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
                </form>
            {%endif%}
{%endblock%}